@model IEnumerable<BookManager.Context.Book>

<p>
    @Html.ActionLink("Add Book", "Form", null, new { @class = "btn btn-primary mb-3" })
</p>




<table class="table table-hover">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Author)</th>
        <th>@Html.DisplayNameFor(model => model.Price)</th>
        <th>@Html.DisplayNameFor(model => model.PublishedDate)</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Author)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td>@(item.PublishedDate?.ToString("yyyy-MM-dd"))</td>

            <td>
                <a href="@Url.Action("Form", new { item.ID, item.Title, item.Author, item.Price, item.PublishedDate })" class="btn btn-success">Edit</a>
                <a href="@Url.Action("Delete", new { item.ID })"
                   class="btn btn-danger"
                   onclick="return confirm('Are you sure you want to delete this book?');">
                    Delete
                </a>
            </td>
        </tr>
    }
</table>
